:root {
    /* Primary tints */
    --primary-a0:  #125d40;
    --primary-opaque-a0:  #125d4000;
    --primary-a10: #326e53;
    --primary-opaque-a10: #326e5300;
    --primary-a20: #4c7f66;
    --primary-opaque-a20: #4c7f6600;
    --primary-a30: #65917b;
    --primary-opaque-a30: #65917b00;
    --primary-a40: #7ea38f;
    --primary-opaque-a40: #7ea38f00;
    --primary-a50: #97b5a5;
    --primary-opaque-a50: #97b5a500;

    /* Surface colors */
    --surface-a0:  #121212;
    --surface-opaque-a0:  #12121200;
    --surface-a10: #282828;
    --surface-opaque-a10: #28282800;
    --surface-a20: #3f3f3f;
    --surface-opaque-a20: #3f3f3f00;
    --surface-a30: #575757;
    --surface-opaque-a30: #57575700;
    --surface-a40: #717171;
    --surface-opaque-a40: #71717100;
    --surface-a50: #8b8b8b;
    --surface-opaque-a50: #8b8b8b00;

    /* Tonal surface colors */
    --tonal-surface-a0:  #151917;
    --tonal-surface-opaque-a0:  #15191700;
    --tonal-surface-a10: #2a2e2c;
    --tonal-surface-opaque-a10: #2a2e2c00;
    --tonal-surface-a20: #414443;
    --tonal-surface-opaque-a20: #41444300;
    --tonal-surface-a30: #595c5b;
    --tonal-surface-opaque-a30: #595c5b00;
    --tonal-surface-a40: #727574;
    --tonal-surface-opaque-a40: #72757400;
    --tonal-surface-a50: #8d8f8e;
    --tonal-surface-opaque-a50: #8d8f8e00;
}


body {
    background-color: var(--surface-a0);
    color: var(--tonal-surface-a50);
    font-family: Arial, Helvetica, sans-serif;
    padding: 4rem 4em 4em 4em;
}

h1 {
    margin-top: 0.4rem;
    color: var(--primary-a20);
}

p {
    line-height: 1.5;
    margin-bottom: 1.5em;
}

li {
    line-height: 1.5;
}

a {
    color: var(--primary-a20);
}

a:hover {
    color: var(--primary-a40);
    text-decoration: underline;
}

.ul-no-dot {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.styled-link li {
    margin-bottom: 10px;
}

.styled-link a {
    display: block;
    padding: 8px 12px;
    color: #b2bbb0;
    text-decoration: none;
    font-weight: 500;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.fade_to_right a {
    background: linear-gradient(
        to right,
        var(--surface-a10), 
        var(--surface-opaque-a10) 
    );
}

.fade_to_right a:hover {
    background: linear-gradient(
        to right,
        var(--surface-a30), 
        var(--surface-opaque-a30) 
    );
}

.content {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}

.page-back-button {
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
  }
  
.page-back-button:hover {
    text-decoration: none;
}

.code-block {
    background-color: var(--tonal-surface-a10);
    color: var(--primary-a50);
    border-width: thick;
    border-style: solid;
    border-color: var(--primary-a10);
    padding: 1rem;
    border-radius: 5px;
}